<%= form_tag sessions_path do %>
  <div class="form-group">
    <%= email_field_tag :email, nil, class: 'form-control', required: true, placeholder: 'Email', autofocus: true %>
  </div>
  <div class="form-group">
    <%= password_field_tag :password, nil, class: 'form-control', required: true, placeholder: 'Contraseña' %>
  </div>

  <%= submit_tag 'Iniciar sesión', class: 'btn btn-primary btn-block full-width m-n' %>
<% end %>

