<% if logged_in? %>
  Iniciaste sesión como <strong><%= current_user.email %></strong>
  <br /><br />
  <br />
  <%= link_to 'Continuar usando la aplicación', root_path, class: 'btn btn-block btn-lg btn-success' %>
  <%= link_to 'Cerrar sesión', logout_path, method: :delete, class: 'btn btn-block btn-lg btn-danger' %>
<% else %>
  <%= render 'form' %>
<% end %>
