<%= form_with model: @presenter.filter, url: students_path, method: :get, local: true do |f| %>
  <fieldset class="form-group col-md-3 col-xs-6 m-t">
      <%= f.text_field :name, placeholder: 'Nombre y/o apellido', class: 'form-control' %>
  </fieldset>

  <fieldset class="form-group col-md-2 col-xs-6 m-t">
      <%= f.text_field :dni, placeholder: 'DNI', class: 'form-control',
                       pattern: "([0-9]{8})", title: 'Ingresar los 8 dígitos' %>
  </fieldset>

  <fieldset class="form-group col-md-3 col-xs-6 m-t">
      <%= f.select :school_year_id,
                    SchoolYear.all.decorate.map { |school_year| [school_year.complete_name, school_year.id]},
                    {
                      include_blank: 'Seleccionar un grado'
                    },
                    id: :student_school_year,
                    class: 'form-control normal-select2',
                    data: {
                      placeholder: 'Seleccionar un grado'
                    }
      %>
  </fieldset>

  <fieldset class="form-group col-md-2 m-t">
    <%= f.check_box(:deleted) %>
    <%= label_tag(:deleted, "Ver eliminados") %>
  </fieldset>

  <div class="col-md-2 col-xs-4 m-t">
    <%= f.submit 'Buscar', class: 'btn btn-primary', 'data-disable-with' => 'Buscando...' %>
    <%= link_to students_path, class: 'btn btn-default', title: 'Reiniciar búsqueda' do %>
      <%= icon :undo %>
    <% end %>
  </div>
<% end %>
