<% last_student = Student.last %>

<%= form_with(model: student, local: true) do |f| %>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">

      <fieldset class="form-group">
        <%= f.label :first_name %>
        <%= f.text_field :first_name,
                          id: :student_first_name,
                          class: 'form-control',
                          required: true,
                          autofocus: true,
                          placeholder: 'Ingrese el nombre'
        %>
      </fieldset>

      <fieldset class="form-group">
        <%= f.label :last_name %>
        <%= f.text_field :last_name,
                          id: :student_last_name,
                          class: 'form-control',
                          required: true,
                          placeholder: 'Ingrese el apellido'
        %>
      </fieldset>

      <fieldset class="form-group">
        <%= f.label :dni %>
        <%= f.number_field :dni,
                            id: :student_dni,
                            class: 'form-control',
                            required: true,
                            placeholder: 'Ingrese el DNI'
        %>
      </fieldset>

      <fieldset class="form-group">
        <%= f.label :gender %>
        <%= f.select :gender,
                      Student.genders.map { |k, v| [t("student_genders.#{k}"), k]},
                      {
                        include_blank: 'Seleccionar un género' ,
                        selected: last_student.present? ? last_student.gender : nil
                      },
                      id: :student_gender,
                      class: 'form-control normal-select2',
                      required: true,
                      data: {
                        placeholder: 'Seleccionar un género'
                      }
        %>
      </fieldset>

      <fieldset class="form-group">
        <%= f.label :school_year %>
        <%= f.select :school_year_id,
                      SchoolYear.all.decorate.map { |school_year| [school_year.complete_name, school_year.id]},
                      {
                        include_blank: 'Seleccionar un grado',
                        selected: last_student.present? ? last_student.school_year_id : nil
                      },
                      id: :student_school_year,
                      class: 'form-control normal-select2',
                      required: true,
                      data: {
                        placeholder: 'Seleccionar un grado'
                      }
        %>
      </fieldset>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="form-group actions">
          <%= f.submit 'Guardar alumno', class: "btn btn-success" %>
          <%= link_to 'Volver', students_path, class: "btn btn-default" %>
      </div>
    </div>
  </div>
<% end %>
