<tr>
  <td><%= student.complete_name %></td>
  <td><%= student.dni %></td>
  <td><%= student.school_year_name %></td>
  <td>
    <%= link_to 'Editar', edit_student_path(student), class: 'btn btn-xs btn-primary' %>
    <%= link_to 'Eliminar', student, class: 'btn btn-xs btn-danger', method: :delete, data: { confirm: "¿Realmente desea eliminar al alumno <b>#{student.complete_name}</b>?" } %>
  </td>
</tr>
