<% provide(:title_header, 'Alumnos') %>

<header class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-9">
    <h2>Alumnos</h2>
    <ol class="breadcrumb">
      <li>
        <%= link_to root_path do %>
          <%= fa_icon 'home', text: 'Inicio' %>
          <% end %>
      </li>
      <li class="active">Alumnos</li>
    </ol>
  </div>
</header>

<section class="wrapper wrapper-content animated fadeInRight">
  <div class="panel">
    <div class="panel-body">
      <%= render 'filter' %>
    </div>
  </div>

  <div class="panel">
    <div class="panel-body responsive-table">
      <%= link_to new_student_path ,
            title: 'Nuevo alumno',
            class: 'panel-main-action btn btn-warning btn-rounded' do %>
        <%= fa_icon 'plus' %>
      <% end %>

      <table class="table table-hover">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>DNI</th>
            <th>Grado</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <%= render @presenter.students %>
        </tbody>
      </table>

      <%= paginate @presenter.students, theme: 'twitter-bootstrap-4', pagination_class: "pagination-sm no-margin pull-right" %>

      <% if @presenter.students.empty? %>
        <p class="lead text-center"> Nada que mostrar por aquí </p>
      <% end %>

    </div>
  </div>
</section>
