<% provide(:title_header, 'Nuevo alumno')%>

<header class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-9">
    <h2>Nuevo alumno</h2>
    <ol class="breadcrumb">
      <li>
        <%= link_to root_path do %>
          <%= fa_icon 'home', text: 'Inicio' %>
          <% end %>
      </li>
      <li>
        <%= link_to students_path do %>
          <%= fa_icon 'user', text: 'Alumnos' %>
          <% end %>
      </li>
      <li class="active">Nuevo alumno</li>
    </ol>
  </div>
</header>

<section class="wrapper wrapper-content animated fadeInRight">
  <div class="panel">
    <div class="panel-body">
      <%= render 'form', student: @student %>
    </div>
  </div>
</section>
