<%= form_for @user do |f| %>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <fieldset class="form-group">
        <%= f.label :email %>
        <code><%= @user.email %></code>
      </fieldset>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="form-group actions">
        <%= f.submit 'Guardar Usuario', class: 'btn btn-success',
          data: { 'disable-with' => 'Espere...' } %>
          <%= link_to 'Volver', :back, class: 'btn btn-default' %>
      </div>
    </div>
  </div>
<% end %>
