<%= form_for @user, url: change_password_user_path do |f| %>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <fieldset class="form-group">
       <%= f.label :current_password, 'Clave actual' %><br />
       <%= f.password_field :current_password, placeholder: 'Clave actual', class: 'form-control', required: true %>
      </fieldset>

      <fieldset class="form-group">
       <%= f.label :password, 'Nueva clave' %><br />
       <%= f.password_field :password, placeholder: 'Nueva clave', class: 'form-control', required: true %>
      </fieldset>

      <fieldset class="form-group">
         <%= f.label :password_confirmation %><br />
         <%= f.password_field :password_confirmation, placeholder: 'Confirmación de clave', class: 'form-control', required: true %>
      </fieldset>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="form-group actions">
          <%= f.submit 'Cambiar clave', class: "btn btn-success", 'data-disable-with' => 'Cambiando clave...' %>
          <%= link_to 'Volver', :back, class: "btn btn-default" %>
      </div>
    </div>
  </div>
<% end %>
