<tr id="<%= dom_id(user) %>">
  <td><%= link_to user.email, edit_user_path(user) %></td>
  <td>
    <% if policy(user).destroy? %>
      <%= link_to user, method: :delete, title: 'Eliminar usuario',
          data: { title:'Cuidado', confirm: "Estás a punto de eliminar al usuario <strong>#{user.email}</strong>. Esta acción no puede deshacerse. ¿Estás seguro?", 'confirm-btn' => 'Si, eliminar usuario', 'cancel-btn' => 'No, cancelar'},
          class: 'btn btn-xs btn-danger js-delete-user' do %>
          <%= icon :trash %>
      <% end %>
    <% end %>
  </td>
</tr>
