<% provide(:title_header, 'Editar usuario')%>

<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-9">
    <h2>Editar perfil</h2>
    <ol class="breadcrumb">
      <li>
        <%= link_to root_path do %>
          <%= fa_icon 'home', text: 'Home' %>
        <% end %>
      </li>
      <li class="active">Editar perfil</li>
    </ol>
  </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-md-6">
      <div class="ibox">
        <div class="ibox-title">
          <h5>Datos personales</h5>
        </div>
        <div class="ibox-content">
          <%= render 'form_edit', user: @user %>
        </div>
      </div>
    </div>
    <% if policy(@user).change_password? %>
      <div class="col-md-6">
        <div class="ibox">
          <div class="ibox-title">
            <h5>Cambio de clave</h5>
          </div>
          <div class="ibox-content">
            <%= render 'form_password', user: @user %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
