<% provide(:title_header, 'Usuarios')%>

<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-9">
    <h2>Administración de Usuarios</h2>
    <ol class="breadcrumb">
      <li>
        <%= link_to root_path do %>
          <%= fa_icon 'home', text: 'Home' %>
        <% end %>
      </li>
      <li class="active">Usuarios</li>
    </ol>
  </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
  <div class="panel">
    <div class="panel-body responsive-table">
      <%= link_to new_user_path,
            title: 'Nuevo usuario',
            class: 'panel-main-action btn btn-warning btn-rounded' do %>
        <%= fa_icon 'plus' %>
      <% end %>

      <table class="table table-hover">
        <thead>
          <tr>
            <th>Email</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <%= render @users %>
        </tbody>
      </table>

      <%= paginate @users, theme: 'twitter-bootstrap-4', pagination_class: "pagination-sm no-margin pull-right" %>

      <% if @users.empty? %>
        <p class="lead text-center">No hay usuarios para mostrar</p>
      <% end %>
    </div>
  </div>
</div>
