<%%= form_with(model: <%= singular_table_name %>, local: true) do |f| %>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">


<% attributes.each do |attribute| -%>
  <fieldset class="form-group">
<% if attribute.password_digest? -%>
    <%%= f.label :password %>
    <%%= f.password_field :password, id: :<%= field_id(:password) %>, class: 'form-control' %>
  </fieldset>

  <fieldset class="form-group">
    <%%= f.label :password_confirmation %>
    <%%= f.password_field :password_confirmation, id: :<%= field_id(:password_confirmation) %>, class: 'form-control' %>
<% else -%>
    <%%= f.label :<%= attribute.column_name %> %>
    <%%= f.<%= attribute.field_type %> :<%= attribute.column_name %>, id: :<%= field_id(attribute.column_name) %>,
          class: 'form-control' %>
<% end -%>
  </fieldset>

<% end -%>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="form-group actions">
          <%%= f.submit 'Guardar <%=singular_table_name.titleize%>', class: "btn btn-success" %>
          <%%= link_to 'Volver', <%= index_helper %>_path, class: "btn btn-default" %>
      </div>
    </div>
  </div>
<%% end %>
