<%= form_with(model: school_year, local: true) do |f| %>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">

      <fieldset class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name,
                          id: :school_year_name,
                          class: 'form-control',
                          required: true,
                          autofocus: true,
                          placeholder: 'Ingrese un nombre'
        %>
      </fieldset>

      <fieldset class="form-group">
        <%= f.label :level %>
        <%= f.select :level,
                      SchoolYear.levels.map { |k, v| [t("school_year_levels.#{k}"), k]},
                      { include_blank: 'Seleccionar un nivel' },
                      id: :school_year_level,
                      class: 'form-control normal-select2',
                      required: true,
                      data: { placeholder: 'Seleccionar un nivel' }
        %>
      </fieldset>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="form-group actions">
          <%= f.submit 'Guardar grado', class: "btn btn-success" %>
          <%= link_to 'Volver', school_years_path, class: "btn btn-default" %>
      </div>
    </div>
  </div>
<% end %>
