<tr>
  <td>
    <%= link_to school_year.name,
                school_year_path(school_year),
                title: 'Ver detalles del grado'
    %>
  </td>
  <td><%= school_year.level_name %></td>
  <td>
    <%= link_to 'Editar',
                edit_school_year_path(school_year),
                class: 'btn btn-xs btn-primary'
    %>
    <%= link_to 'Eliminar',
                school_year,
                class: 'btn btn-xs btn-danger',
                method: :delete,
                data: { confirm: "¿Realmente desea eliminar el grado <b>#{school_year.complete_name}</b>?" }
    %>
  </td>
</tr>
