<tr>
  <td>
    <input type="checkbox" name="" value="" class="js-student-check" data-student-id="<%= student.id %>">
  </td>
  <td><%= student.last_name %></td>
  <td><%= student.first_name %></td>
  <td><%= student.dni %></td>
</tr>
