<% provide(:title_header, 'Nuevo grado')%>

<header class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-9">
    <h2>Nuevo grado</h2>
    <ol class="breadcrumb">
      <li>
        <%= link_to root_path do %>
          <%= fa_icon 'home', text: 'Inicio' %>
          <% end %>
      </li>
      <li>
        <%= link_to school_years_path do %>
          <%= fa_icon 'graduation-cap', text: 'Grados' %>
          <% end %>
      </li>
      <li class="active">Nuevo grado</li>
    </ol>
  </div>
</header>

<section class="wrapper wrapper-content animated fadeInRight">
  <div class="panel">
    <div class="panel-body">
      <%= render 'form', school_year: @school_year %>
    </div>
  </div>
</section>
