<% provide(:title_header, 'Detalle del grado')%>

<header class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-9">
    <h2>Detalle del grado</h2>
    <ol class="breadcrumb">
      <li>
        <%= link_to root_path do %>
          <%= fa_icon 'home', text: 'Inicio' %>
        <% end %>
      </li>
      <li>
        <%= link_to school_years_path do %>
          <%= fa_icon 'graduation-cap', text: 'Grados' %>
        <% end %>
      </li>
      <li class="active">Detalle del grado - <%= @presenter.school_year_decorated.complete_name %></li>
    </ol>
  </div>
</header>

<section class="wrapper wrapper-content animated fadeInRight">
  <div class="ibox">
    <div class="ibox-content">
      <h2 class="text-center font-bold"><%= @presenter.school_year_decorated.complete_name %></h2>

      <br>

      <% if @presenter.has_students? %>
        <div class="row">
          <div class="col-md-12">
            <%= form_with model: @presenter.school_year, url: change_school_year_school_year_path(@presenter.school_year), method: :put, local: true do |f| %>
              <div class="col-md-2">
                <input type="checkbox" name="" value="" id="js-select-all" style="margin-bottom: 2%;"> Seleccionar todos
              </div>
              <div class="col-md-4">
                <fieldset class="form-group">
                  <%= select_tag :school_year_id,
                                options_from_collection_for_select(
                                  SchoolYear.where.not(id: @presenter.school_year.id).decorate, 'id', 'complete_name'
                                ),
                                id: :student_school_year,
                                class: 'form-control normal-select2',
                                required: true,
                                include_blank: 'Seleccionar un grado',
                                data: {
                                  placeholder: 'Seleccionar un grado'
                                }
                  %>
                </fieldset>
              </div>
              <div class="col-md-3">
                <%= f.select :student_ids, {}, {}, multiple: true, class: 'hidden js-student-ids' %>

                <%= f.submit 'Cambiar de curso', class: 'btn btn-md btn-primary js-student-action' %>
              </div>
              <% end %>
              <div class="col-md-3">
                <%= form_with model: @presenter.school_year, url: delete_students_school_year_path(@presenter.school_year), method: :delete, local: true do |form| %>
                  <%= form.select :student_ids, {}, {}, multiple: true, class: 'hidden js-student-ids' %>
                  <%= form.submit 'Sacar del curso', class: 'btn btn-md btn-danger text-right js-student-action' %>
                <% end %>
              </div>
          </div>
        </div>
      <% end %>

      <br>

      <% unless @presenter.has_students? %>
        <p class="lead text-center"> Nada que mostrar por aquí </p>
      <% else %>
        <div class="row">
          <% unless @presenter.male_students.empty? %>
            <div class="col-md-6">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th></th>
                    <th>Apellido</th>
                    <th>Nombre</th>
                    <th>DNI</th>
                  </tr>
                </thead>

                <tbody>
                  <%= render partial: 'student', collection: @presenter.male_students.decorate, as: :student %>
                </tbody>
              </table>
            </div>
          <% end %>

          <% unless @presenter.female_students.empty? %>
            <div class="col-md-6">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th></th>
                    <th>Apellido</th>
                    <th>Nombre</th>
                    <th>DNI</th>
                  </tr>
                </thead>

                <tbody>
                  <%= render partial: 'student', collection: @presenter.female_students.decorate, as: :student %>
                </tbody>
              </table>
            </div>
          <% end %>
      </div>
      <% end %>
    </div>
    <div class="ibox-footer">
      <div class="row">
        <div class="col-md-9 col-md-offset-3">
          <div class="form-group actions">
            <%= link_to 'Exportar a Excel',
                        export_school_year_path(@presenter.school_year, format: :xlsx),
                        class: 'btn btn-md btn-info pull-right'
            %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
