<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
          <li class="nav-header">
            <span class="logo-mini"><b>A</b></span>
            <span class="logo-lg"><b>Alumnos</b></span>
          </li>
          <%= side_link text: 'Inicio', path: root_path, icon_class: 'home' %>
          <%= side_link text: 'Grados', path: school_years_path, icon_class: 'graduation-cap' %>
          <%= side_link text: 'Alumnos', path: students_path, icon_class: 'user' %>
        </ul>
    </div>
</nav>
